@{
    ViewBag.Title = "Home Page";
}


    <div style="background-color: rgba(255, 255, 255, 0.7); width: 45%; height:30%; position: absolute; margin-top: 18%; right: 12%">
        <h2 style="margin-top:5%; margin-left:5%; font-weight:900; color:rgb(60 101 219)">Apoyando a las familias en tiempos difíciles.</h2>
        
        <p><a href="https://asp.net" class="btn btn-primary btn-lg" style="margin-top:3%; margin-left:5%">Saber más &raquo;</a></p>
    </div>
    <div>
        <img src="https://media.gosh.nhs.uk/images/Margots_nurse_Hannah_on_Flamingo_.cb3fe082.fill-1200x540.jpg" class="img-responsive" alt="Responsive image" style="width:100%;padding-top:4% ">
        
    </div>
    <br>
    <br>
    


    
    <div>
        <img src="https://www.gosh.nhs.uk/static/images/cssBackgrounds/waves.629c5685182a.png" style="width:100%" alt="Alternate Text" />
    </div>
    <footer style="background-color:rgb(127 189 224); height:160px ; display: flex">
        <img src="https://www.gosh.nhs.uk/static/images/submarine.877b3c549db3.svg" style="height:160px; width:280px; margin-left:20%" alt="Alternate Text" />
        
    </footer>

    